.footerContainer {
    margin-top: 160px;
    margin-bottom: 80px;
    gap: 20px;
}

.secondaryText {
    color: var(--secondary-green-color);
}

.footerContainer .hearFireText {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footerContainer .hearFireText img{
    height: 30px;
}

.footerContainer .hearFireText span{
    filter: drop-shadow(0 0 .5rem #f82e03);
    display: inline-block;
}