@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

p {
  margin: 0;
  font-size: 0.75rem;
  /* 12px */
  line-height: 1rem;
  color: white;
  /* 16px */
}

.App {
  background: rgb(2, 0, 36);
  background: linear-gradient(45deg, rgba(2, 0, 36, 1) 48%,  rgb(3, 101, 66) 100%);
}