/* ---------- LEFT INFO CONTAINER SECTION ------------ */

.contactFormMainContainer {
    gap: 128px;
    margin-top: 80px;
}

.contactFormMainContainer .contactFormInfoCntainer {
    gap: 100px;
    max-width: 522px;

}

.contactFormMainContainer .contactFormInfoCntainer .title span{
    color: var(--main-green-color);
}

.contactFormMainContainer .contactFormInfoCntainer .contactFormInfo{
    align-items: flex-start;
    width: 100%;
    gap: 25px;
}

.contactFormMainContainer .contactFormInfoCntainer .email,
.contactFormMainContainer .contactFormInfoCntainer .ubicacion {
    width: calc(100% - 35px);
    border-radius: 16px;
    padding: 20px 15px;
}

.contactFormMainContainer .contactFormInfoCntainer .email{
    background-color: rgba(3, 161, 66, 0.25);
    border: 2px solid var(--main-green-color);
}

.contactFormMainContainer .contactFormInfo .bookingButton {
    width: 258px;
}

/* ---------- FORM MAIN CONTAINER ------------ */

.formMainContainer {
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 32px;
    padding: 25px 45px;
    width: 631px;
    min-height: 615px;
}

.formMainContainer p {
    color: #000;
    font-weight: 500;
    font-size: 21px;
}

.formMainContainer .contactFormOptions .option.selected{
    background-color: var(--main-green-color);
    color: #fff;
    border-radius: 10px;
    width: 172px;
    height: 50px;
    font-size: 18px;
}

.formMainContainer .contactFormOptions .option{
    border: 2px solid var(--main-green-color);
    cursor: pointer;
    border-radius: 10px;
    width: 172px;
    height: 50px;
    font-size: 18px;
}

.formMainContainer .contactFormOptions .option.error{
    border: 2px solid rgb(255, 0, 0);
}


.formMainContainer .errorInput{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    color: rgb(255, 0, 0);
}

/* ---------- CONTACT FORM ------------ */

.contactForm {
    margin-top: 50px;
    /* height: 107%; */
}

.contactForm .button {
    width: 234px;
    color: #fff;
    height: 50px;
}

.contactForm .inputsMainContainer {
    width: 100%;
}

.contactForm .inputFieldContainer{
    width: 100%;
}

.contactForm .inputFieldContainer .errorInput{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 34px;
    color: rgb(255, 0, 0);
}

.contactForm .inputFieldContainer .imputFieldInput{
    border-bottom: 2px solid var(--main-green-color);
    margin-bottom: 40px;
    padding: 5px;
    width: 98%;
}

.contactForm .inputFieldContainer .imputFieldInput::placeholder{
    font-size: 16px;
    color: #000;
}

.contactForm .imputFieldInput.textArea {
    height: 160px;
    border-radius: 16px;
    border: 2px solid var(--main-green-color);
}

.contactForm .inputFieldContainer .imputFieldLabel{
    margin-bottom: 5px;
    margin-left: 5px;
}

.contactForm .button {
    font-weight: 500;
    font-size: 20px;
}

.contactForm .enquiry {
    display: none;
}

@media (min-width: 300px) and (max-width: 1150px) {
    .contactFormMainContainer,
    .contactFormOptions {
        flex-wrap: wrap;
    }

    .contactFormOptions {
        gap: 20px;
        justify-content: center;
    }
    
    .contactForm .button {
        width: 100%;
    }

    .contactFormMainContainer .contactFormInfoCntainer {
        gap: 40px;
    }
}

@media (max-width: 500px) {
    .formMainContainer .contactFormOptions .option {
        width: 100%;
    }

    .contactFormInfo .text21 {
        font-size: 16px;
    }
}
